CLIENT_ID = "Put your client ID between these quotation marks!"
CLIENT_SECRET = "Put your client secret between these quotation marks!"
OAUTH_TOKEN = "Put your OAUTH token between these quotation marks!"

BOT_NAME = "Put the username of your bot (can be the same as your channel) between these quotation marks!"
CHANNEL = "Put your channel name between these quotation marks!"

DB_NAME = "stream_data"
DB_USERNAME = "Put your Postgres database username here!"
DB_PASSWORD = "Put your Postgres account password here! (required)"

CALLBACK_ADDRESS = "Put your callback address here (ngrok works fine)"

