html {
    background-color: #05101E;
    font-family: poppins;
    color: white;
}

body {
    background-color: none;
}

#master-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6rem;
  }

#app-container {
    background: #030B14;
    margin: 0.5rem 2rem;
    max-width: 100%;
    width: 100%;
    height: 80vh;
}

a, #title-banner {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-bottom: .5rem;
    color: white;
}

#app-title {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

#tabs-container {
    width: 100%;
    height: 3rem;
}

#active-tab {
    background: inherit;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: inherit;
}

.app-tabs {
    text-transform: uppercase;
    font-size: 1rem;
    height: fit-content;
    cursor: pointer;
}

.app-tab {
    background-color: gray;
}

.app-tab--selected {
    background-color: blue;
}

#chat-tab {
    background: inherit;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.text-insight-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    border: solid #05101E 5px;
}

.tab-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.viz-settings-box {
    padding: 7rem 0 0 2rem;
    /* background-color: grey; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.settings-label {
    padding-top: 3rem;
}

.download-graph-button {
    border-radius: 10px;
    padding: 12px;
    margin: 3rem 30px 0 30px;
}

#chat-main-viz-container {
    flex-grow: 1;
    border: solid #05101E 5px;
}

.text-insight {
    text-align: center;
}

.text-insight-value {
    color: #0597DC;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5rem;
    font-weight: normal;
}

.text-insight-subtext {
    margin: -1rem 0 0 0;
    font-size: 1.3rem;
    margin-bottom: 5rem;
}

.chat-plot-settings-container {
    display: flex;
    flex-direction: row;
}

.chat-viz {
    flex-grow: 1;
}

.dash-dropdown {
    color: black;
}

#vod-card {
    display: flex;
    flex-direction: column;
}

#vod-settings-card {
    flex-grow: 1;
}

#discord-footer {
    text-align: center;
}

#discord-icon {
    margin-top: 10px;
    margin-right: 5px; 
}
