html {
    background-color: #05101E;
    font-family: poppins;
    color: white;
}

body {
    background-color: none;
}

#master-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6rem;
  }

#app-container {
    background: #030B14;
    margin: 0.5rem 2rem;
    max-width: 100%;
    width: 100%;
    height: 80vh;
}

a, #title-banner {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-bottom: .5rem;
    color: white;
}

#app-title {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

#tabs-container {
    width: 100%;
}

#active-tab {
    background: inherit;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: inherit;
}

#chat-tab {
    background: inherit;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

#chat-tab-bar-card {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#chat-plot-and-settings-container {
    display: flex;
    flex-direction: row;
}

#chat-viz-settings-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 3rem;
}

#chat-plot-container {
    display: flex;
    flex-grow: 1;
}

#vod-card {
    padding: 0 2rem 2rem 2rem;
    margin-left: 10rem;
    margin-right: 5rem;
}

#vod-settings-card {
    margin-right: 3rem;
}

.card-title {
    font-size: 1.6rem;
    color: #5F5F60;
    text-align: left;
    margin-left: 1.1rem;
}

.text-insight-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid #05101E 5px;
}

.tab-parent {
    height: 100%;
}

.text-insight-container {
    margin-top: 2.5rem;
}

.card-title-container {
    border-bottom: solid #5F5F60 2px;
    margin-bottom: 30px;
}

.Select-menu-outer {
    background-color: #9b9b9b;
    color: black;
}

.Select-value {
    background-color: #9b9b9b;
    color: black;
}

.Select-value-label {
    color: black !important;
}

.tab-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.viz-settings-box {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.settings-label {
    padding-top: 3rem;
    color: #5F5F60;
}

.download-graph-button {
    background-color: #9b9b9b; 
    border-radius: 10px;
    padding: 12px;
    margin: 3rem 30px 0 30px;
    font-family: inherit;
    font-size: 1rem
}

#chat-main-viz-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: solid #05101E 5px;
}

.text-insight {
    text-align: center;
    margin: 0 2rem 0 2rem;
}

.text-insight-value {
    color: #0597DC;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5rem;
    font-weight: normal;
}

.text-insight-subtext {
    margin: -1rem 0 0 0;
    font-size: 1.3rem;
    margin-bottom: 5rem;
}



.chat-viz {
    flex-grow: 1;
}

.dash-dropdown {
    color: black;
}

#vod-card {
    display: flex;
    flex-direction: column;
}

#vod-settings-card {
    flex-grow: 1;
}

#discord-footer {
    text-align: center;
}

#discord-icon {
    margin-top: 10px;
    margin-right: 5px; 
}
