body {
    font-family: poppins;
    color: #E0E0E0;
    font-weight: normal;
}

a, #title-banner, #discord-footer {
    width: 100%;
    text-align: center;
    color: #E0E0E0;
}

#app-subtitle {
    text-decoration: none;
    font-size: 25px;
    padding-bottom: 20px;
    margin: 0px;
}

#app-title {
    font-size: 60px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}